{
  "development": {
    "MONGODB": "mongodb://127.0.0.1:27017/boozebids",
    "APP_URL": "http://localhost:5000",
    "JWT_SECRET": "test",
    "JWT_EXPIRE": "1h",
    "REDIS_HOST": "127.0.0.1",
    "REDIS_PORT": "6379",
    "RESET_PASSWORD_TOKEN_EXPIRY_MINS": "",
    "FRONTEND_APP_URL": "",
    "EMAIL_SERVICE": "",
    "EMAIL_PASSWORD": "",
    "EMAIL_USERNAME": "",
    "EMAIL_FROM": ""
  },
  "test": {
    "MONGODB": "No Thanks",
    "APP_URL": "http://localhost:5000",
    "JWT_SECRET": "test",
    "JWT_EXPIRE": "1h",
    "RESET_PASSWORD_TOKEN_EXPIRY_MINS": "",
    "FRONTEND_APP_URL": "",
    "EMAIL_SERVICE": "",
    "EMAIL_PASSWORD": "",
    "EMAIL_USERNAME": "",
    "EMAIL_FROM": ""
  },
  "production": {
    "MONGODB": "mongodb+srv://dennohdee:pr0gramm1ng@cluster0.z8y5v.mongodb.net/myFirstDatabase?retryWrites=true&w=majority",
    "APP_URL": "http://localhost:5000",
    "JWT_SECRET": "test",
    "JWT_EXPIRE": "1h",
    "RESET_PASSWORD_TOKEN_EXPIRY_MINS": "5",
    "FRONTEND_APP_URL": "",
    "EMAIL_SERVICE": "",
    "EMAIL_PASSWORD": "",
    "EMAIL_USERNAME": "",
    "EMAIL_FROM": ""
  }
}